@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #25262A;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-size: 3.2em;
}

#home p {
    font-size: 2em;
}

#projects h2 {
    font-size: 1.3em;
}
#projects p {
    font-size: 1em;
}

img {
    width: 100%;
}