@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto-Black.ttf");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #25262A;
  color: white;
}

body img {
  width: 100%;
}

body #projects {
  background-color: #1f2025;
}

body h1 {
  font-size: 3.2em;
}

body p {
  font-size: 1em;
}

body h1,
body h2,
body h3 {
  font-family: RobotoBold;
}

body p,
body span,
body button,
body a {
  font-family: Roboto;
}

body .main,
body #home,
body #project,
body #contact,
body #home article,
body #home figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main {
  margin: 0px 0px 0px 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main #home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%;
}

body .main #projects {
  margin-top: 12%;
  padding: 2%;
  padding-top: 8%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1f2024;
  padding-bottom: 5%;
}

body .main #projects .project-collumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8%;
}

body .main #projects h2 {
  font-size: 1.3em;
}

body .main #projects p {
  font-size: 1em;
}

body .main #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  margin-bottom: 5%;
}

body .main #contact input,
body .main #contact textarea {
  background-color: #1f2025;
  color: white;
  border: 0px solid;
  padding: 2%;
  border-radius: 2px;
  font-family: Roboto;
}

body .main #contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .animate1,
body .animate2,
body .animate3,
body .animate4 {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-animation: fadeInUp 2s ease forwards;
          animation: fadeInUp 2s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

body .animate1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .animate2 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

body .animate3 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

body .animate4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 5%;
  border: 1px solid #888;
  width: 80%;
}

.modal-content p {
  margin-bottom: 5%;
}

.modal-content a {
  border-radius: 10px;
  background-color: #6FCF97;
  color: white;
  padding: 1.5%;
  font-size: 1em;
  cursor: pointer;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#container {
  padding: 5%;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.overlay {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #6FCF97;
  color: white;
  width: 40%;
  border-radius: 10px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  padding: 2%;
  text-align: center;
  border: 0;
  font-size: 1em;
}

.overlay:hover {
  background-color: #30ce72;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .image {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

@media only screen and (max-width: 800px) {
  #main {
    margin: 0;
  }
  #main #home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main #home .home-figure {
    width: 80%;
  }
  #main #home .main-article {
    width: 100%;
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
  }
  #main #home .main-article div a {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
  }
  #main #home article h1 {
    font-size: 2em;
  }
  #main #home article h3 {
    font-size: 1.8em;
  }
  #main #home figure img {
    width: 100%;
  }
  #main #projects .project-collumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main #projects .project-collumn .project-item {
    width: 100%;
    margin-bottom: 15%;
  }
  #main #projects > h1 {
    font-size: 2.4em;
  }
  #main .container .image {
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
  #main .container:hover .overlay {
    opacity: 1;
  }
  #main #contact button {
    margin-bottom: 10%;
  }
  #main #contact form > * {
    width: 100%;
  }
}
/*# sourceMappingURL=master.css.map */