main {
    margin: 0 5rem;
    padding-left: 5%;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
}

#home article, #home figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home article {
    width: 50%;
    flex-direction: column;
    text-align: left;
}

#home figure {
    width: 50%;
}

#home img {
    width: 80%;

}

.items {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease forwards;
    animation-delay: 2s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}