.main #home img {
  width: 80%;
}

.main #home h3 {
  font-size: 2em;
}

.main #home h1,
.main #home h3,
.main #home article p {
  width: 80%;
  text-align: left;
  padding: 1%;
  line-height: 1;
  color: #6FCF97;
}

.main #home a {
  cursor: pointer;
  border-radius: 10px;
  background-color: #6FCF97;
  color: white;
  padding: 3%;
  font-size: 1em;
}

.main #home p {
  font-size: 2em;
}

.main #home article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #6FCF97;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  flex-direction: column;
  width: 50%;
  padding-right: 10%;
}

.main #home article div {
  margin-top: 5%;
  width: 80%;
}

.main #home article > .white {
  font-size: 1em;
  color: #d1cfcf;
}

.main #home figure {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.main #projects .project-item {
  width: 48%;
}

.main #projects > h1 {
  margin-bottom: 5%;
}

.main #projects .project-collumn .snake img {
  height: 70%;
}

.main #projects .project-collumn article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
  margin-top: 2%;
}

.main #projects .project-collumn article h3 {
  font-size: 1.2em;
  font-weight: normal;
}

.main #projects .project-collumn article > p {
  font-size: 1em;
  font-family: Roboto;
  color: #dbd6d6;
}

.main #projects .project-collumn article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main #projects .project-collumn article section a {
  color: white;
  font-size: 0.8em;
  line-height: 1;
}

.main #projects .project-collumn article section a:hover {
  color: #6FCF97;
}

.main #contact h1 {
  margin-bottom: 6%;
}

.main #contact div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main #contact button:hover {
  color: white;
}

.main #contact button {
  background-color: #1f2025;
  color: rgba(255, 255, 255, 0.719);
  border: 0px solid;
  padding: 2%;
  border-radius: 2px;
  font-family: Roboto;
  width: 40%;
  cursor: pointer;
}

.main #contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #contact form > * {
  width: 80%;
  margin-top: 2%;
}
/*# sourceMappingURL=style.css.map */